{{yield}}
<div
  class='w-3/4 flex bg-gray-100 border-gray-300 border-2 justify-center p-4 rounded-md items-center'
>

  <div class='bg-gray-100 flex flex-col justify-center items-center sm:py-12'>
    <div class='pl-10 xs:p-0 mx-auto md:w-full md:max-w-md justify-center'>
      <div>
        <img
          src='./images/logo-text.png'
          alt='infrascrum'
          class='w-64 mx-auto'
        />
        <div
          class='text-sm font-italic text-gray-500 dark:text-gray-300 mt-2 pl-4 text-center mb-2'
        >
          Reset your password
        </div>
      </div>
      <div class='bg-white shadow w-full rounded-lg divide-y divide-gray-200'>
        <form class='px-5 py-7' >

          <label class='font-semibold text-sm text-gray-600 pb-1 block'>
            Email
          </label>
          {{! template-lint-disable require-input-label }}
          <Input
            @type='email'
            class='border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full'
            @value={{this.email}}
             placeholder="example@mail.com"
          />
          <label class='font-semibold text-sm text-gray-600 pb-1 block'>
            New password
          </label>
          <Input
            @type='password'
            class='border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full'
            @value={{this.password}}
            placeholder="Password must contain at least 5 characters"
          />
          {{#if this.minimumChar}}
          <p class="text-red-500 text-xs pt-1 pb-2">Password must contain at least 5 characters</p>
          {{/if}}
          <label class='font-semibold text-sm text-gray-600 pb-1 block'>
            Verify new password
          </label>
          <Input
            @type='password'
            class='border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full'
            @value={{this.confirm}}
            placeholder="Please verify your new password"
          />
          {{#if this.confirmSame}}
          <p class="text-red-500 text-xs">Passwords are not similar</p>
          {{/if}}
          <div class='flex justify-center my-4'>
            <button
              type='submit'
              class='transition duration-200 bg-middleblue hover:bg-nightblue focus:bg-nightblue focus:shadow-sm focus:ring-4 focus:ring-middleblue focus:ring-opacity-50 text-white w-2/3 py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block disabled:bg-lightblue'
              disabled={{this.isAddButtonDisabled}}
            >
              <span class='inline-block mr-2'>
                Create new password
              </span>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                fill='none'
                viewBox='0 0 24 24'
                stroke='currentColor'
                class='w-4 h-4 inline-block align-text-top'
              >
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z'
                ></path>
              </svg>
            </button>

          </div>
        </form>
        <div class='py-4'>
          <div class='flex justify-center'>
            <div class='text-center sm:text-left whitespace-nowrap'>
              <button
                class='transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-200 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset'
                type='button'
              >
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  class='w-4 h-4 inline-block align-text-bottom'
                  fill='none'
                  viewBox='0 0 24 24'
                  stroke='currentColor'
                  stroke-width='2'
                >
                  <path
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    d='M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01'
                  ></path>
                </svg>
                <span class='inline-block ml-1'>
                  Create an account
                </span>
              </button>
            </div>
            <div
              class='text-center sm:text-right whitespace-nowrap items-center'
            >
              <button
                class='transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-200 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset'
                type='button'
              >
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  class='w-4 h-4 inline-block align-text-bottom'
                  fill='none'
                  viewBox='0 0 24 24'
                  stroke='currentColor'
                  stroke-width='2'
                >
                  <path
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    d='M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1'
                  ></path>
                </svg>
                <span class='inline-block ml-1'>
                  Sign in
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>