{{page-title 'Projects'}}
<div class='relative flex justify-center items-center'>
  <div
    class='container mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 pt-12 gap-8'
  >
    {{#each @model as |project|}}

      <div
        class='max-w-sm bg-white rounded-lg shadow-xl border border-gray-200 shadow-gray-500 bg-middleblue dark:border-gray-700'
      >
        <LinkTo @route='projects.id' @model={{project.id}}>
          <img
            class='rounded-t-lg'
            src='images/project/Tic-programmation.jpg'
            alt='prog'
          />
        </LinkTo>
        <div class='p-5'>
          <a href='#'>
            <h5
              class='mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white'
            >{{project.projectName}}</h5>
          </a>
          <p
            class='mb-3 font-normal text-gray-700 dark:text-gray-400'
          >{{project.description}}</p>
          {{!-- <LinkTo
            @route='projects/project'
            @model={{project.id}}
            class='bg-white px-4 rounded-lg shadow-lg text-middleblue py-1'
          >
            settings
          </LinkTo> --}}
          {{log project}}
          <button
            type='button'
            class='bg-red-600 px-4 rounded-lg shadow-lg text-white py-1'
            {{on 'click' (fn this.deleteProject project)}}
          >supprimer</button>
        </div>
      </div>
    {{/each}}
  </div>
  <div class='left-0 top-0 flex justify-center pt-12 w-full h-full'>
    {{outlet}}</div>
</div>