        {{!-- template-lint-disable require-input-label --}}
<div class='formBackground '>
  <div class='formContainer'>
    <div>
      <img src='/images/logo.png' alt='infrascrum' class='w-12 mx-auto' />
    </div>
    <h1 class='font-bold text-center text-3xl mb-5 mt-2'>
      Elements
    </h1>

    <div class='form'>
      <form class='px-5 py-7' {{on 'submit' this.saveElement}}>
        <Input
          class='input'
          @type='text'
          placeholder='New element'
          @value={{this.selectElement.nameElement}}
        />
        <div class='flex flex-nowrap justify-around'>
          <label class='label mt-2' for=''>Color:</label>
          <Input
            class='border-1 h-8 w-12 rounded-full'
            @type='color'
            placeholder='color'
            @value={{this.selectElement.colorElement}}
          />
        </div>

        <div class='py-5'>
          <div class='flex items-center justify-between'>
            <button
              type='button'
              class='transition duration-200 mx-2 px-4 py-2.5 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-100 hover:text-red-400 focus:outline-none focus:bg-gray-200 ring-inset'
              {{on 'click' (fn this.change false)}}
            >
              Cancel
            </button>
            <button
              class='btnPrimary px-6 mr-4'
              type='submit'
              {{!-- disabled={{this.isAddButtonDisabled}} --}}
            >
              Save
            </button>

          </div>
        </div>
      </form>
    </div>

  </div>
</div>