{{page-title 'ProjectsList'}}
<div class='container'>
  <div class='grid grid-cols-2 gap-2 w-screen'>
    {{#each @projects as |project|}}
      <div class='text-blue-50'>
        <div
          class='bg-middleblue p-8 rounded-xl my-4 shadow-md flex items-center flex-row w-3/4 ml-4'
        >
          <img class='w-16 h-16 mr-4' src={{project.image}} alt='project' />
          <div>
            <h3 class='font-semibold text-lg mb-1'>{{project.projectName}}</h3>
            <p class='leading-tight text-justify mb-1'>
              {{project.description}}
            </p>
            <span>Date</span>
          </div>
          <LinkTo
            @route='projects.id'
            @model={{project.id}}
            class='bg-lightblue text-nightblue ml-auto rounded-xl p-2'
          >
            Aller au project
          </LinkTo>
          <LinkTo
            @route='projects.update'
            id={{project.id}}
            class='p-2 bg-lightblue text-nightblue rounded-xl ml-auto'
          >Modifier</LinkTo>
          <button
            type='button'
            class='p-2 bg-red-500 rounded-xl ml-auto'
            {{on 'click' (fn this.deleteProject project)}}
          >X</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>