<div class='formBackground mt-12 w-2/3'>
  <div class='formContainer'>
    <div>
      <img src='/images/logo.png' alt='infrascrum' class='w-16 mx-auto' />
    </div>
    {{#if @model.id}}
      <h1 class='font-bold text-center text-3xl mb-5'>Dashboard</h1>{{else}}
      <h1 class='font-bold text-center text-3xl mb-5'>New Project</h1>
    {{/if}}
  </div>
  <div class='form px-5 py-7'>

    <form {{on 'submit' this.saveProject}}>
      <div class='flex'>
        <div class='mr-4 w-1/2'>
          <label for='name' class='label'>Name</label>
          <Input
            @type='text'
            placeholder='Nom du projet'
            id='name'
            class='input'
            @value={{this.selectProject.projectName}}
          />

          <label for='name' class='label'>Image</label>
          <Input
            @type='text'
            id='image'
            class='input'
            placeholder="Lien de l'image"
            @value={{this.selectProject.image}}
          />
          <div class='flex justify-around items-center'>
            <label class='label mr-4' for='begin'>Begin</label>
            <Input
              @type='date'
              id='begin'
              @value={{this.selectProject.startDate}}
              class='input'
            />
            <label class='label mx-4' for='end'>End</label>
            <Input
              @type='date'
              id='end'
              @value={{this.selectProject.endDate}}
              class='input'
            />
          </div>
        </div>
        <div class='w-1/2'>
          <label class='label'>Description</label>
          <Textarea
            class='input'
            placeholder='Description du projet'
            name=''
            id=''
            cols='30'
            rows='10'
            @value={{this.selectProject.description}}
          />
        </div>

      </div>
      <div
        class='border rounded-lg border-gray-200 flex justify-between items-center'
      >
        <Ui::UserSelector />
        <div class='flex m-4'>
          {{#each this.selectProject.users as |user|}}
            <div class='flex w-12 h-12 m-1'>
              <img
                class='object-cover rounded-3xl'
                src={{user.image}}
                alt={{user.username}}
                title={{user.username}}
              /></div>
          {{/each}}
        </div>
      </div>
      <div class='mt-4 flex justify-end'>
          <LinkTo
          @route='projects'
          type='reset'
          class='transition duration-200 mx-2 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-200 ring-inset'
          >Cancel
          </LinkTo>
        <button type='submit' class='btnPrimary px-6 mr-4'>
          {{#if @model.id}}
            Save
          {{else}}
            Create
          {{/if}}
        </button>
      </div>
    </form>
  </div>
</div>