<div class='w-184 h-1/2 rounded-lg border border-gray-600 bg-white shadow-lg'>
  <div class='w-full flex justify-center'><h1
      class='text-center text-3xl mt-4 text-middleblue font-semibold border-b-2 border-b-middleblue'
    >New Project</h1></div>
  <form {{on 'submit' this.saveProject}}>
    <div class='flex text-xl ml-8 pt-6'>
      <label for='name' class='mr-16'>Name</label>
      <Input
        @type='text'
        placeholder='Nom du projet'
        id='name'
        class='rounded-lg border border-gray-300'
        @value={{this.selectProject.projectName}}
      />
    </div>
    <div class='flex text-xl ml-8 pt-6'>
      <label class='mr-4'>Description</label>
      <Textarea
        class='rounded-lg border border-gray-300'
        placeholder='Description du projet'
        name=''
        id=''
        cols='30'
        rows='10'
        @value={{this.selectProject.description}}
      />
    </div>
    <div class='flex text-xl ml-8 pt-6'>
      <label for='name' class='mr-16'>Image</label>
      <Input
        @type='text'
        id='image'
        class='rounded-lg border border-gray-300'
        placeholder="Lien de l'image"
        @value={{this.selectProject.image}}
      />
    </div>
    <div class='text-xl ml-8 pt-6'>
      <label class='mr-16' for='begin'>Begin</label>
      <Input @type='date' id='begin' @value={{this.selectProject.startDate}} />
    </div>
    <div class='flex text-xl ml-8 pt-6'>
      <label class='mr-20' for='end'>End</label>
      <Input @type='date' id='end' @value={{this.selectProject.endDate}} />
    </div>

    <div class='mt-4 flex flex-col justify-end'>
      <button
        type='submit'
        class='mx-8 border-2 bg-white text-middleblue font-semibold border-middleblue px-4 rounded-md duration-200 hover:bg-middleblue hover:text-white'
      >Create</button>
      <button
        type='reset'
        class='mx-8 border-2 bg-white text-red-500 font-semibold border-red-500 px-4 rounded-md duration-200 hover:bg-red-600 hover:text-white'
      >Annuler</button>
    </div>
  </form>
</div>