
<div
  class='bg-lightblue shadow-md flex justify-between items-center text-darkblue'>
  <div class="flex items-end ">
    <LinkTo @route='index'>
      <img
      src='/images/logo-text.png'
      alt='infrascrum'
      width='250px'
      class='mx-8 p-4'
      />
    </LinkTo>

    <button
      class='px-4 mb-5 mr-2 transition duration-200 cursor-pointer font-normal rounded hover:bg-gray-100 focus:outline-none focus:bg-gray-200'
      type='button'
      {{on 'click' this.visibleFeature}}
    >Features 
    </button>
    {{#if this.isVisibleToo}}
      <div
        class='bg-gray-200 absolute top-0 left-0 flex justify-center items-center w-screen h-screen bg-opacity-70'
      >
        <Pages::Features @visibleFeature={{this.visibleFeature}} />
      </div>

    {{/if}}
    {{#if this.session.isAuthenticated}}
      <LinkTo @route='projects' class="mb-5 px-4 transition duration-200 cursor-pointer font-normal rounded hover:bg-gray-100 focus:outline-none focus:bg-gray-200"> Projects</LinkTo>
    {{/if}}


</div>
  <div class='w-2/3 text-lg mt-2 flex items-end justify-end'>

    {{!-- {{log this.session.data.authenticated}} --}}
          <div
        class='border border-lightblue w-fit rounded-xl m-5 shadow-sm flex items-center'
      >
    {{#if this.session.isAuthenticated}}
    
      <button
        type='button'
        {{on 'click' this.invalidateSession}}
        class='mt-2 px-4 py-2 transition duration-200 bg-red-500 hover:bg-red-700 focus:bg-red-700 focus:shadow-sm text-white rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block disabled:bg-red-300'
      >Logout</button>
    {{else}}


        <LinkTo
          @route='login.new-user'
          class='mt-2 border-none px-4 py-2 rounded-l-lg transition duration-600 bg-neutral-50 hover:bg-darkblue text-black hover:text-white text-sm shadow-sm hover:shadow-md font-semibold text-center'
        >Register</LinkTo>

        <LinkTo
          @route='login.login'
          class='mt-2 border-none px-4 py-2 rounded-r-lg transition duration-600 bg-middleblue hover:bg-nightblue text-white text-sm shadow-sm hover:shadow-md font-semibold text-center'
        >Login</LinkTo>

    {{/if}}
      </div>
  </div>
</div>