{{page-title 'Id'}}
<div class='flex h-11/12'>
  <NavBar @model={{@model}} />
  {{log @model.project.projectName}}
  <div class='flex-grow'>
    <Pages::Project @model={{@model.project}} />
  </div>
</div>

{{outlet}}